// Headlines
@font-face {
    font-family: 'Kapra';
    src: url(../../assets/fonts/Kapra/Kapra-Regular.otf) format(opentype);
    font-weight: 400;
}
@font-face {
    font-family: 'Kapra';
    src: url(../../assets/fonts/Kapra/Kapra-Bold.otf) format(opentype);
    font-weight: 700;
}

// Body Copy & CTAs
@font-face {
    font-family: 'Darwin';
    src: url(../../assets/fonts/Darwin/DarwinProLight.otf) format(opentype);
    font-weight: 400;
}
@font-face {
    font-family: 'Darwin';
    src: url(../../assets/fonts/Darwin/DarwinProRegular.otf) format(opentype);
    font-weight: 700;
}