$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$navy-blue: #0C214D;
$royal-blue: #0073BB;
$royal-gold: #FEBD11;

$green-top-left: #ADDBA5;
$green-top-right: #68BC46;
$green-bot-left: #0BA446;
$green-bot-right: #006630;

$blue-top-left: #A4DDF1;
$blue-top-right: #37C1EE;
$blue-bot-left: #0050A4;
$blue-bot-right: #020268;

$pink-top-left: #FFB8DA;
$pink-top-right: #FF6699;
$pink-bot-left: #E51483;
$pink-bot-right: #880579;

$yellow-top-left: #FFEBB8;
$yellow-top-right: #FFE053;
$yellow-bot-left: #F9C20A;
$yellow-bot-right: #EE9A31;

$orange-top-left: #FFB685;
$orange-top-right: #FF8B39;
$orange-bot-left: #FF6600;
$orange-bot-right: #BF3600;

$purple-top-left: #E1D1FF;
$purple-top-right: #B58BFF;
$purple-bot-left: #6B35B5;
$purple-bot-right: #3D0073;