@use '../../styles/partials/global.scss' as *;

.reviews {

    padding: 8rem 5rem;
    padding-top: 3rem;

    h2 {
        color: #4A4A4A;
        font-family: "Proxima Nova";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        padding-left: 3rem;
    }
    
    &_grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    img {
        max-width: 600px;
        max-height: 244px;
        margin: 30px 15px;
        width: 70vw;
    }

}